

body{
    /*background-color: #efefef;*/
    background-color:#e5eff1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14px;
    line-height:1.2;
    color:#636b6f
}

.page-header {
  padding-bottom: 0 !important;
   margin: 0px 0 0px !important; 
  border-bottom: 1px solid #eee;
}
.panel-heading {
  padding: 0px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

li > ul > .current-time,.ip-address{
    display: block;
}

.invoice-gap{
    margin-top: 30px;
}
.sidenav{
    /* max-height: auto; */
    /* min-height: 770px; */
    /*background-color: #222d32;*/
    /* background-color: #617e8c; */
    box-shadow: 0px 2px 5px #061f5f;
}
/*side bar css*/
#sidebar{
    top:0;
    /* width:250px; */
    width: 210px;
    /* background:#6ccaf0; */
    background: #3a4652;
    color:#fff;
    -webkit-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
    position:fixed;
    height: 100%;
    z-index:1040;
    overflow-y:scroll;
    scrollbar-width: thin;
    scrollbar-color:  #061f5f #26a6d7;
}
#sidebar{
  scrollbar-face-color: #367CD2;
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
#sidebar::-webkit-scrollbar {
  width: 12px;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 20px;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 20px;
  background: #178ddb; 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#sidebar .h6 {
    color:#fff
}
#sidebar.active {
    margin-left:-250px
}
#sidebar.active .custom-menu {
    margin-right:-50px
}
#sidebar h1 {
    margin-bottom:20px;
    font-weight:700;
    font-size:20px
}
#sidebar h1 .logo {
    color:#fff;
    display:block;
    padding:10px 30px;
    background:#2f89fc
}
#sidebar ul.components {
    padding:0
}
#sidebar ul li:nth-child(1){
    background-color: #26a6d7;
    padding: 5px;
}
#sidebar ul li {
    font-size:14px
}
#sidebar ul li>ul {
    margin-left:5px
}
#sidebar ul li>ul li {
    font-size:14px
}
#sidebar ul li a {
    padding:15px 25px;
    display:block;
    /* color: #171b2f; */
    color: #fff;
    border-bottom:1px solid rgba(255,255,255,.1);
    text-decoration: none;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-right: 10px;
    font-size: 12px;
}
#sidebar ul li a span{
    padding-right: 10px;
}
#sidebar ul li a:hover {
    color:#3a4652;
    /* background:white; */
    background:#178dbb;
    border-bottom:1px solid #2f89fc
}
#sidebar ul li a:focus {
    border-left: 5px solid #171b2f;
}
#sidebar ul li.active>a {
    background-color: #178dbb;
    color:#fff
}
#sidebar ul li.active>a:hover {
    background:#178dbb;
    border-bottom:1px solid #2f89fc
}
#sidebar .custom-menu {
    display:inline-block;
    position:absolute;
    top:10px;
    right:0;
    margin-right:-50px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}
#sidebar .custom-menu .btn.btn-primary {
    background:0 0;
    border-color:transparent
}
#sidebar .custom-menu .btn.btn-primary i {
    color:#000;
    font-size:24px
}
#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
    background:0 0!important;
    border-color:transparent!important
}
/*side bar css*/
.dashboard-content{
    max-height: auto;
    min-height: 680px;
    margin-top: 20px;
    width: 98%;
    background-color: #e4e4e4;
    box-shadow: 0px 2px 5px #e4e4e4;
}

.merchant-content{
    margin-top:30px;
    margin-bottom: 80px;
    padding-left: 190px;
}
.half-navbar{
    width: 98%;
    min-height: 50px;
    margin-top: 10px;
    background-color: #e4e4e4;
    box-shadow: 0px 2px 5px #998e8e;
    padding: 10px;
    border: 2px solid  #e4e4e4;
}
.rupayapay-logo{
    max-width:100px;
    position: relative;
    text-shadow: 2px 2px lightgray;
}
.navbar {
    margin-bottom: 0px !important;
}
.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}
.valign{
    vertical-align: center;
}

.search-block{
    margin: 20px;
}
.display-block{
    margin: 20px;
}

.pull-left{
   width: 100px;
}

.pull-left > ul > li{
    display: none;
}
.pull-right > ul > li{
    display: inline;
}

.pull-right > ul > li > a{
    text-decoration: none;
    color: #222d32;
}

.navigation-list > ul{
    padding: 10px;
}
.navigation-items > li {
    display: block;
    width: 100%;
    height: auto;
    color: #fff;
    margin-top:5px;
    padding: 10px;
    
}
.navigation-items > li:hover{
    text-decoration: none;
}
.navigation-items > li > ul >li > a:hover{
    background-color: #2c3b41;
    text-decoration: none;
}
.navigation-items > a {
    color: #fff;
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
}
.navigation-items > a:hover{
    text-decoration: none;
    cursor: pointer;
}

.navigation-items > ul > li > a{
    color: #fff;
    font-size: 15px;
}

.display-none{
    display: none;
}
.mandatory{
    color:red;
    font-size: large;
}

.show-cursor{
    cursor: pointer;
}
.form-container{
    margin: 10px;
    padding: 10px;
}
.center-checkbox{
    margin: 10px 0 0 !important;
}
.show-nav{
    padding: 20px 15px;
    display: none;
}
.padding-20{
    padding:0px;
}
.padding-top-10{
  padding-top:10px;
}

.padding-left-20{
  padding-left:20px;
}
.padding-left-30{
  padding-left:30px;
}

.padding-top-30{
  padding-top: 30px;
}
.padding-10{
    padding: 10px;
}
.steps{
    border-bottom: 3px dashed #ddd;
}
.dashboard{
    background-color: #ddd;
}
.account-stage{
    height: 50%;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.stage-active{
    background-color: #2f89fc;
    opacity: 4;
    color: #fff;
}
.top-margin-20{
    margin-top:20px ;
}
.top-margin-10{
    margin-top:10px ;
}
.center{
    text-align: center;
    vertical-align: middle;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}
.display-none{
    display: none;
}
.display-block{
    display:block;
}
.word-wrap{
    word-wrap: break-word;
}
.color-white{
    color:#fff;
}
.color-red{
    color:red;
    font-size: 15px;
}
.activate-header{
    background-color: #061f5f;
    color:#fff;
    height:100px;
    border-radius: 2px;
}
.rating-color{
    color: green;
}

#add-customer-address-list > tr > td {
    padding: 10px;
}

#add-customer-address-list > tr > td.btn{
    padding: 7px;
    margin: 5px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 25px;
}

.left-arrow {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid black; 
  }
  
  .right-arrow {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid black;
  }
  
  .up-arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    display: inline-block;
    margin-left: 10px;
  }
  
  .down-arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    display: inline-block;
    margin-left: 10px;
  }

.caret-display{
    padding: 10px;
}


.notification{
    position: relative;
}
.notify-box > h4{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 100;
}
.notify-box > p{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}
.notify-box {
    background-color: #881238;
    opacity: 0;
    position:absolute;
    border-radius: 2px;
    left:50%;
    top:120px;
    transform: translateX(-50%) translateY(-15%) scale(0.9);
    filter: blur(3px);
    transition: 350ms ease;
    width: 210px;
    padding: 24px 30px;
}

.notify-item{
    margin-top: 18px;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: 240ms ease;
}
.notify-box:hover{
    transform:translateX(-50%) translateY(-8px);
    filter:blur(0px);
    opacity: 1;
}
.notify-item:hover{
    background-color: #BC144A;
}

.notify-box:after{
    bottom: 100%;
    left:50%;
    border:solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0,0,0,0);
    border-bottom-color:#881238;
    border-width: 20px;
    margin-left: -20px;
    transform: translateY(2px);
}

.margin-left{
  margin-left: 10px;
}

.margin-right{
  margin-right: 40px;
}

/*Loading animation css style starts here*/

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*Loading animation css style ends here*/

/*custome checkbox code starts */
/* The container */
.checbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.refer-div-height{
    height: 250px;
}
  
#previous-comment{
    background-color: honeydew;
    font-size: 15px;
}

.comment{
    margin-right: 20px;
    margin-left: 20px; 
    margin-bottom: 30px;
}

.head{
    margin-bottom: 10px;
}

.user{
    margin-right: 10px;
}

.panel{
    background-color: #e5eff1;
}
.panel-default {
    border-color: #e5eff1;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #e5eff1;
    border-color: #e5eff1;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.6;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color:#061f5f;
    font-family: "Poppins", sans-serif;
}

.nav-tabs > li.active > a:hover {
    color: #fff;
    background-color: #00a8e9;
    border: 1px solid #ddd;
    /* border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent; */
    border-bottom: 2px solid #061f5f;
    cursor: default;
}

.nav-tabs > li.active > a:visited {
    color: #fff;
    background-color: #00a8e9;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    cursor: default;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #00a8e9;
}

.nav-tabs > li.active > a{
    color: #00a8e9;
    float: left;
    margin-bottom: -1px;
    background-color: #e5eff1;
    border-bottom: 2px solid #061f5f;
    border-top:2px solid #e5eff1;
    border-left:2px solid #e5eff1;
    border-right:2px solid #e5eff1;
}


@media(max-width:800px)
{
    #sidebar{
        display: none;
    }
    .merchant-content {
        margin-top: 20px;
        margin-bottom: 80px;
        padding-left: 0px;
    }
    .show-nav{
        display: block;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .header nav {
        background-color: #848282;
    }
}
/* @media(min-height:400px)
{
    #sidebar{
        min-height:900px;
    }
} */

/*Text Color */
.text-black{color:black}


/*More Content Style */
.content-oveflow{
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000000;
}



/* Busioness Detail */


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	
  font-family: 'Poppins', sans-serif;
 
}

/*---------------------------------------------*/
a {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	/* color: #666666; */
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}
@media (min-width:1201px){
  .scrl{
    height: 100vh;
    overflow-y: hidden;
  }
}

/*---------------------------------------------*/
input {
	outline: none;
  border: none;
}

/* textarea {
  outline: none;
  border: none;
} */

/* textarea:focus, input:focus {
  border-color: transparent !important;
} */

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #aaaaaa; }
input:-moz-placeholder { color: #aaaaaa; }
input::-moz-placeholder { color: #aaaaaa; }
input:-ms-input-placeholder { color: #aaaaaa; }

textarea::-webkit-input-placeholder { color: #aaaaaa; }
textarea:-moz-placeholder { color: #aaaaaa; }
textarea::-moz-placeholder { color: #aaaaaa; }
textarea:-ms-input-placeholder { color: #aaaaaa; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.bg-contact100 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: url(/assets/img/intro-capital.jpg) ;
  background-position: cover;
  /* background-image: url(/assets/img/login-wave.png); */
  overflow-y: auto;
}
#scrl{
  overflow-y: hidden;
}

.wrap-contact100 {
  width: 1163px;
  /* background: #fff; */
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 50px 50px 50px;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-pic {
  width: 410px;
  /* padding-top: 55px; */
}

.contact100-pic img {
  max-width: 100%;
  margin-top: 70px;

}


/*------------------------------------------------------------------
[  ]*/
/* .contact100-form {
  width: 390px;
}  */

.contact100-form {
  width: 60%;
  margin-top: 40px;
}
@media (min-width:992px){
  .contact100-form {
    position: relative;
    left: 140px;
  }
}

.businessform-help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
  color: red;
}

.contact100-form-title {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 36px;
}

input.input100 {
  height: 40px;
  border-radius: 25px;
  padding: 0 30px 0 15px;
}

select.input100 {
  height: 40px;
  border-radius: 25px;
  padding: 0 30px 0 15px;

  -webkit-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, #171b2f 50%),
    linear-gradient(135deg,#171b2f 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;

}

input.input100[name="email"] {
  padding: 0 30px 0 54px;
}

textarea.input100 {
  min-height: 90px;
  border-radius: 25px;
  padding: 10px 30px 0 15px;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  display: block;
  width: 100%;
  /* background: #e6e6e6; */
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1;
  color: #666666;
}
.txt-wht{
  color: white;
}

/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(132,106,221, 0.5);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 15px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #846add;
  padding-left: 22px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.contact100-form-btn {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #383f61, #363e64, #171b2f);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  border: 1px solid white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-position: right;
  color: white;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact100-pic {
    width: 33.5%;
  }

  .contact100-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 90px;
  }

  .contact100-pic {
    width: 35%;
  }

  .contact100-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 80px;
  }

  .contact100-pic {
    display: none;
  }

  .contact100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 110px 15px 157px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/* =============rating star code-=============== */

/*==============Calender Style===================*/

.daterangepicker .drp-calendar {
  display: none;
  max-width: 320px !important;
}

/*==============Banners Style====================*/
/* bnr 2 button */
.wrapper {
	background:#178dbb;
	display:inline-block;
	border-radius:500px;
	
	position: relative;
  	padding:5px;
	cursor:pointer;
}

.wrapper i{
  color: white;
  font-size: 17px;
  position: relative;
  left: 5.5px;
  top: 4px;
}
.circle {
	width:25px;
	height:25px;
	position:relative;
}
.line {
	position: absolute;
	height: 2px;
	width:100%;
	background:white;
	border-radius:8px;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top {
	top:18%;
}
.middle {
	top:48%;
}
.bottom {
	top:78%;
}
.icon.close .top {
	transform:rotate(45deg);
	top:48%;
}
.icon.close .middle, .icon.close .bottom {
	transform:rotate(-45deg);
	top:48%;
}
/*   bnr 2 button */
 #buton-1,#buton-2,#buton-3,#buton-4,#buton-5,#buton-6,#buton-7,#buton-8,#buton-9,#buton-10,#buton-11{
 margin-top:30px;
  float: right;
} 
#Show{
  display: none;
} 

.about-1 {
  padding: 0;
}


.about-1 .container-1 {
  width: 100%;
  background-color: #e5eff1;
  padding: 10px 35px;

}

#img-dash{
  position: relative;
  left: 45px;
}
@media (max-width: 992px) {
  .about-1 .container-1 {
    padding: 30px;
  }
}

.about-1 .content-1 h3 {
  font-weight: 600;
  font-size: 26px;
  color: #364146;
  font-family: "Poppins", sans-serif;
  margin-top: 9%;
}

.about-1 .content-1 p {
  font-weight: 400;
  font-size: 16px;
  color: #888;
  font-family: "Poppins", sans-serif;
  margin-top: 7.5%;
}

.about-1 .content-1 p:last-child {
  margin-bottom: 0;
}

.pie-graph > .form-group{
  position: relative;
  top: 25 !important;
}

.box > canvas{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box > div{
  padding: 39% 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

textarea {
  resize: none;
}
/*=======================Refer & Earn====================*/

.referenceid > .thumbnail{
  min-width: max-content;
}

/*=======================Custom File Upload==================*/
.custom-file-upload {
  width: 100%;
}
/*=======================For Check Box Custom Style====================*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float:left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon { 
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.btn-rupayapay{
  background-color: #061f5f;
  color: #fff;
}
.personal-details > p{
  color: red;
}

.personal-details > ul > li{
  color: red;
}
.margin-top-50{
  margin-top: 50px;
}

#itemadd{
  display:block;
  width: 102%;
  max-height: 400px;
  overflow: auto;
}

/*Chat Box Style*/

.case-details{
  margin-top:50px;
}
.people-list {
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6a6c75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: auto;
}
.people-list ul li {
    padding-bottom: 20px;
    list-style-type: none;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959e;
}
.chat {
  width: 490px;
  float: left;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959e;
}
.chat .chat-header .fa-star {
  float: right;
  color: #d8dadf;
  font-size: 20px;
  margin-top: 12px;
}
/* .chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
} */
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
  position: fixed;
  bottom: 6px;
  top: 0px;
  width:56%
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 10px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
    background: #171b2f;
    font-family: 'Open Sans', sans-serif;
}
.chat .chat-history .other-message {
    background: #178ddb;
    font-family: 'Open Sans', sans-serif;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94c2ed;
  left: 93%;
}

.chat-history > ul > li{
  position: relative;
  top:40px;
}
.chat .chat-message {
  position:fixed;
  padding: 30px 0px 30px 25px;
  bottom:5px;
  right:0px;
  width:54%;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  border: 1px solid #171b2f;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #061f5f;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #171b2f;
  cursor: pointer;
  background: #f2f5f8;
  width: 110px;

}
.chat .chat-message button:hover {
  background-color: #061f5f;
  color: #fff;
}
.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}
.online {
  color: #86bb71;
}
.offline {
  color: #e38968;
}
.me {
  color: #94c2ed;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.chat-message > textarea{
  margin-left: 30px;
}

.chat-send-button{
  background-color: #171b2f;
  color: rgb(255, 255, 255);
  margin-top: 0%;
  position: absolute;
  padding: 16px;
  top: 20%;
  bottom: 27%;
  right: 10%;
}

@media (max-width: 414px){
  .chat-history{
    width: 100% !important;
    height: 530px !important;
    padding-left: 0;
    position: relative;
    left: -10px;
    scroll-behavior: auto;
  }
  
  .chat .chat-message {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  .chat .chat-message textarea {
    width: 78% !important;
    border: none;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 35px;
    border-radius: 5px;
    resize: none;
    margin-left: 0px;
  }

  .chat .chat-message button {
    float: right;
    color: #061f5f;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #171b2f;
    cursor: pointer;
    background: #f2f5f8;
    width: 20%;
    text-align: center;
  }

  #btn-1 {
    position: relative;
    margin-right: 0%;
    right: 0px;
  }
}

@media (min-width: 768px){
  .chat-history{
  height: 600px !important; 
  }
}



@media screen and (min-width: 414px) and (max-width: 576px){
  .chat-history{
   height: 375px !important;
  }
}
@media (min-width: 768px){
  .chat-history{
  height: 600px !important;
  
  
}  
}

@media screen and (min-width: 414px) and (max-width: 414px){

  .people-list {
    width: 100%;
    float: left;
  }
  .people-list ul {
    padding: 20px;
    height: 500px;
  }
  .chat-history{
    width: 100%;
    height: 600px !important;
  }
  .chat .chat-message {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
  }
  .chat .chat-message textarea {
    width: 78% !important;
    border: none;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 40px;
    border-radius: 5px;
    resize: none;
  }

  .chat .chat-message button {
    float: right;
    color: #061f5f;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid #171b2f;
    cursor: pointer;
    background: #f2f5f8;
    width: 20%;
    text-align: center;
  }

  #btn-1 {
    position: relative;
    top:10px;
    margin-right: 0%;
  }
}

@media screen and (min-width: 360px) and (max-width: 360px){

  .people-list {
    width: 100%;
    float: left;
  }
  .people-list ul {
    padding: 20px;
    height: 500px;
  }
  .chat-history{
    width: 100%;
    height: 500px !important;
  }
  .chat .chat-message {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
  }
  .chat .chat-message textarea {
    width: 80% !important;
    border: none;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 40px;
    border-radius: 5px;
    resize: none;
  }

  .chat .chat-message button {
    float: right;
    color: #061f5f;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid #171b2f;
    cursor: pointer;
    background: #f2f5f8;
    width: 20%;
    text-align: center;
  }

  #btn-1 {
    position: relative;
    top:10px;
    margin-right: 0%;
  }
}

/*Tooltip Css code starts here*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.full-area{
  width: 100%;
  height: 100%;
}

 /* Style the form */
 /* #regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
} */

#regForm {
  background-color: #ffffff;
  margin: auto auto;
  padding: 40px;
  width: 100%;
  min-width: 500px;
}

/* Style the input fields */
#regForm > input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
#regForm > input.invalid {
  background-color: #ffdddd;
}

/* Mark select boxes that gets an error on validation: */
#regForm > select.invalid {
  background-color: #ffdddd;
}

/* Mark textarea boxes that gets an error on validation: */
#regForm > textarea.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.form-control.invalid {
  background-color: #ffdddd;
}



