body{
    /*background-color: #efefef;*/
    background-color:#fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14px;
    line-height:1.6;
    color:#636b6f
}

#previous-comment{
    background-color: honeydew;
    font-size: 15px;
}

hr{
    border-top: 1px solid #000 !important;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.comment{
    margin-right: 20px;
    margin-left: 20px; 
    margin-bottom: 10px;
}

.head{
    margin-bottom: 10px;
}

.user{
    margin-right: 10px;
}

.display-none{
    display: none;
}

/*Chat Box Style*/

.case-details{
    margin-top:50px;
  }
  .people-list {
    float: left;
  }
  .people-list .search {
    padding: 20px;
  }
  .people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6a6c75;
    width: 90%;
    font-size: 14px;
  }
  .people-list .fa-search {
    position: relative;
    left: -25px;
  }
  .people-list ul {
    padding: 20px;
    height: auto;
  }
  .people-list ul li {
      padding-bottom: 20px;
      list-style-type: none;
  }
  .people-list img {
    float: left;
  }
  .people-list .about {
    float: left;
    margin-top: 8px;
  }
  .people-list .about {
    padding-left: 8px;
  }
  .people-list .status {
    color: #92959e;
  }
  .chat {
    width: 490px;
    float: left;
    background: #f2f5f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
  }
  .chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
  }
  .chat .chat-header img {
    float: left;
  }
  .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
  }
  .chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
  }
  .chat .chat-header .chat-num-messages {
    color: #92959e;
  }
  .chat .chat-header .fa-star {
    float: right;
    color: #d8dadf;
    font-size: 20px;
    margin-top: 12px;
  }
  /* .chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
  } */
  .chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
    position: fixed;
    bottom: 6px;
    top: 0px;
    width:56%
  }
  .chat .chat-history .message-data {
    margin-bottom: 15px;
  }
  .chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
  }
  .chat .chat-history .message {
    color: white;
    padding: 18px 10px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
  }
  .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86bb71;
    border-width: 10px;
    margin-left: -10px;
  }
  .chat .chat-history .my-message {
      background: #171b2f;
      font-family: 'Open Sans', sans-serif;
  }
  .chat .chat-history .other-message {
      background: #178ddb;
      font-family: 'Open Sans', sans-serif;
  }
  .chat .chat-history .other-message:after {
    border-bottom-color: #94c2ed;
    left: 93%;
  }
  
  .chat-history > ul > li{
    position: relative;
    top:40px;
  }
  .chat .chat-message {
    position:fixed;
    padding: 30px 0px 30px 25px;
    bottom:5px;
    right:0px;
    width:54%;
  }
  .chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    border: 1px solid #171b2f;
  }
  .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
  }
  .chat .chat-message button {
    float: right;
    color: #061f5f;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #171b2f;
    cursor: pointer;
    background: #f2f5f8;
    width: 110px;
  
  }
  .chat .chat-message button:hover {
    background-color: #061f5f;
    color: #fff;
  }
  .online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  .online {
    color: #86bb71;
  }
  .offline {
    color: #e38968;
  }
  .me {
    color: #94c2ed;
  }
  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
  }
  .float-right {
    float: right;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .chat-message > textarea{
    margin-left: 30px;
  }
  
  .chat-send-button{
    background-color: #171b2f;
    color: rgb(255, 255, 255);
    margin-top: 0%;
    position: absolute;
    padding: 16px;
    top: 20%;
    bottom: 27%;
    right: 10%;
  }
  
  @media (max-width: 414px){
    .chat-history{
      width: 100% !important;
      height: 530px !important;
      padding-left: 0;
      position: relative;
      left: -10px;
      scroll-behavior: auto;
    }
    
    .chat .chat-message {
      position: fixed;
      bottom: 0px;
      right: 0px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }
    .chat .chat-message textarea {
      width: 78% !important;
      border: none;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 35px;
      border-radius: 5px;
      resize: none;
      margin-left: 0px;
    }
  
    .chat .chat-message button {
      float: right;
      color: #061f5f;
      font-size: 16px;
      text-transform: uppercase;
      border: 1px solid #171b2f;
      cursor: pointer;
      background: #f2f5f8;
      width: 20%;
      text-align: center;
    }
  
    #btn-1 {
      position: relative;
      margin-right: 0%;
      right: 0px;
    }
  }
  
  @media (min-width: 768px){
    .chat-history{
    height: 600px !important; 
    }
  }
  
  
  
  @media screen and (min-width: 414px) and (max-width: 576px){
    .chat-history{
     height: 375px !important;
    }
  }
  @media (min-width: 768px){
    .chat-history{
    height: 600px !important;
    
    
  }  
  }
  
  @media screen and (min-width: 414px) and (max-width: 414px){
  
    .people-list {
      width: 100%;
      float: left;
    }
    .people-list ul {
      padding: 20px;
      height: 500px;
    }
    .chat-history{
      width: 100%;
      height: 600px !important;
    }
    .chat .chat-message {
      position: fixed;
      bottom: 0px;
      right: 0px;
      width: 100%;
    }
    .chat .chat-message textarea {
      width: 78% !important;
      border: none;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 40px;
      border-radius: 5px;
      resize: none;
    }
  
    .chat .chat-message button {
      float: right;
      color: #061f5f;
      font-size: 10px;
      text-transform: uppercase;
      border: 1px solid #171b2f;
      cursor: pointer;
      background: #f2f5f8;
      width: 20%;
      text-align: center;
    }
  
    #btn-1 {
      position: relative;
      top:10px;
      margin-right: 0%;
    }
  }
  
  @media screen and (min-width: 360px) and (max-width: 360px){
  
    .people-list {
      width: 100%;
      float: left;
    }
    .people-list ul {
      padding: 20px;
      height: 500px;
    }
    .chat-history{
      width: 100%;
      height: 500px !important;
    }
    .chat .chat-message {
      position: fixed;
      bottom: 0px;
      right: 0px;
      width: 100%;
    }
    .chat .chat-message textarea {
      width: 80% !important;
      border: none;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 40px;
      border-radius: 5px;
      resize: none;
    }
  
    .chat .chat-message button {
      float: right;
      color: #061f5f;
      font-size: 10px;
      text-transform: uppercase;
      border: 1px solid #171b2f;
      cursor: pointer;
      background: #f2f5f8;
      width: 20%;
      text-align: center;
    }
  
    #btn-1 {
      position: relative;
      top:10px;
      margin-right: 0%;
    }
  }