body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  /* a {
    color: #00a8e9;
  } */
  
  a:hover {
    color: #34e5a6;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
  }
  
  
  
  
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
   @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  } 
  

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
    width: 100%;
    position: relative;
    background: url("../img/slider.png") center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 120px 0;
  }
  
  @media (max-width: 991px) {
    #intro {
      padding: 140px 0 60px 0;
    }
  }
  
  @media (max-width: 574px) {
    #intro {
      padding: 100px 0 20px 0;
    }
  }
  
 
  @media (max-width: 991px) {
    #intro .intro-img {
      width: 80%;
      float: none;
      margin: 0 auto 25px auto;
    }
  }
  
  #intro .intro-info {
    width: 100%;
    float: left;
    text-align: center;
  }
  
  @media (max-width: 991px) {
    #intro .intro-info {
      width: 80%;
      float: none;
      margin: auto;
      text-align: center;
    }
  }
  
  @media (max-width: 767px) {
    #intro .intro-info {
      width: 100%;
    }
  }
  
  #intro .intro-info h2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10%;
    line-height: 50px;
    text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.35);
  }
  
  #intro .intro-info p {
      color: white;
      margin-top: 20px;
      align-content: center;
    font-weight: 550;
    
  }
  
  @media (max-width: 767px) {
    #intro .intro-info h2 {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }
  
  #intro .intro-info .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 650;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 22px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started {
    background: #00a8e9;
    border: 2px solid #00a8e9;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started:hover {
    background: none;
    border-color: #fff;
    color: #fff;
  }
  
  #intro .intro-info .btn-services {
    border: 2px solid #fff;
  }
  
  #intro .intro-info .btn-services:hover {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  /* ------------------------- */
  
.icon_box_two {
    position: relative;
    padding: 0;
    margin: 25px 0;
  }
  .icon_box_two i {
    position: absolute;
    left: 0;
    font-size: 56px;
    width: 50px;
    color: #171b2f;
    top: 0;
    bottom: auto;
    line-height: 1;
  }
  .icon_box_two .content {
    margin-left: 60px;
    float: left;
  }
  .icon_box_two .content .box_title {
    margin-bottom: 3px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 6px;
  }
  .icon_box_two .content p {
    font-weight: 500;
    color: #838383;
  }
  

  /*  ----------------------------------------------------
5 icon boxes
-------------------------------------------------------- */
.icon-lg {
    font-size: 64px !important;
  }
  
  .icon-md {
    font-size: 32px !important;
  }
  
  .icon-sm {
    font-size: 16px !important;
  }
  
  .icon_box_one {
    background-color: white;
    padding: 0;
    margin: 25px 0;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icon_box_one i {
    margin-top: -10px;
    padding: 0 15px;
    font-size: 72px;
    color: #f50136;
    /* vertical-align: middle; */
    border-radius: 4px;
    display: block;
    margin-bottom: 15px;
    line-height: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icon_box_one .content {
    margin-top: 0;
    padding: 10px 25px 25px;
  }
  .icon_box_one .content h4 {
    color: #18181c;
    margin-bottom: 15px;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icon_box_one .content a {
    color: #f50136;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icon_box_one .content p {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icon_box_one:hover {
    -webkit-box-shadow: 0 10px 32px rgba(0, 0, 0, 0.25);
            box-shadow: 0 10px 32px rgba(0, 0, 0, 0.25);
    background-color: #00a8e9;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icon_box_one:hover i {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icon_box_one:hover .content h4 {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icon_box_one:hover .content p {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icon_box_one:hover .content a {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }


  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #171b2f;
  }


  /*  ----------------------------------------------------
8 tabs
-------------------------------------------------------- */
.table.event_calender {
    position: relative;
    min-width: 1000px;
  }
  .table.event_calender thead.event_title {
    background-color: #171b2f;
    color: #ffffff;
    border: 0;
  }
  .table.event_calender thead.event_title th {
    vertical-align: bottom;
    border: 0;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
  }
  .table.event_calender thead.event_title th i {
    font-size: 32px;
    float: left;
    line-height: 1;
  }
  .table.event_calender thead.event_title th span {
    margin-left: 10px;
    padding: 3px 0;
    display: inline-block;
  }
  .table.event_calender tbody {
    background-color: #f0f2f6;
  }
  .table.event_calender tbody td, .table.event_calender tbody th {
    padding: 30px 25px;
    border: 0;
    vertical-align: middle;
    text-align: center;
  }
  .table.event_calender tbody td img, .table.event_calender tbody th img {
    border-radius: 4px;
    display: block;
    max-width: 100px;
  }
  .table.event_calender tbody td.event_date {
    font-weight: 600;
    font-size: 30px;
    color: #000;
  }
  .table.event_calender tbody td.event_date span {
    display: block;
    font-weight: 400;
    font-size: 14px;
  }
  .table.event_calender tbody td.event_place h5 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .table.event_calender tbody td.event_place h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .table.event_calender tbody td.buy_link a {
    text-transform: capitalize;
    font-weight: 600;
    color: #f50136;
    text-decoration: underline;
    line-height: 24px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  .table.event_calender tbody td.buy_link a:hover {
    color: #18181c;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  